@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .rich-text-content ul {
    @apply list-disc pl-5;
  }
  
  .rich-text-content ol {
    @apply list-decimal pl-5;
  }
}

@layer components {
  .rich-text-content {
    @apply [&_ul]:list-disc [&_ol]:list-decimal [&_ul]:pl-5 [&_ol]:pl-5;
  }
} 
